//fonts
$google-font: "https://fonts.googleapis.com/css?family=Montserrat:400,700";

$fontFamily: "Montserrat", sans-serif;

$baseFontSize: 16px;

//
$maxWidth: 1170px;

// Paths
$i: "../i/";
$fontPath: "../fonts/";

// Colors
$black: #000000;
$white: #ffffff;
$ptext: #707070;
$formcolor: #ebebeb;
$colorbtn: #6730e3;
$lightpurp: #9629e6;
$navcolor: #202877;
