.form-control-1 {
  font-size: 1.3rem;
  height: 4.3rem;
}
.button {
  font-size: 1.3rem;
}
.inc {
  font-size: 1.4rem;
}
.text-about {
  font-size: 1.3rem;
}
.objectivly {
  font-size: 1.3rem;
}
.body-about {
  font-size: 1.1rem;
}
.screen-text {
  font-size: 1.3rem;
}
.team-image {
  flex: 0 0 50%;
}
.single-team-member {
  display: flex;
  flex-wrap: wrap;
}
.image-mate {
  padding-top: 1rem;
  padding-left: 0.5rem;
}
.contact-us-form {
  display: flex;
  flex-wrap: wrap;
}
.form-control-msg {
  width: 212%;
}
.form-around {
  flex: 0 0 50%;
}
.slider {
  margin-left: 9rem;
}
.image-mate {
  width: 100%;
  margin-left: 0;
}
